

/* Área de Upload */
#dropArea {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 2px dashed #0056b3;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#dropArea:hover {
    background-color: #e0f7ff;
}

/* Galeria de Imagens */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    flex-grow: 1;
}


/* Estilo das categorias de imagens */
.categoria {
    border: 2px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 250px;
}

.categoria h2 {
    text-align: center;
    margin-bottom: 10px;
}

/* Estilo das semelhanças (imagens relacionadas ou agrupadas) */
.semelhancas {
    border: 2px dashed #aaa;
    padding: 10px;
    margin-top: 10px;
    background-color: #e0e0e0;
}

/* Padroniza o tamanho das imagens */
.miniatura {
    display: block;
    margin: 10px auto;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.miniatura:hover {
    transform: scale(1.05);
}




/* loading */

/* Estilo de carregamento */
#loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}

#loading .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #4CAF50;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

/* Animação de carregamento (spinner) */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}